
.w22{width:100%;
background:#DFE8F6;
margin:0 auto;}
.fl{ float: left; }
.fr{ float: right;}
.db{ display:block;}
.textfr{
	margin-top:25px;
	padding-right: 60px;
	color: #666;
	line-height: 40px;
	text-align: center;}
.lastfr{
	margin-top:25px;
	padding-right: 5px;
	color: #666;
	line-height: 40px;
	text-align: center;}
.logo{
	margin-top:2px;
	margin-left:20px;
	color: #666;
	padding:20px 30px 30px 20px;}
.logofr{
	margin-top:25px;
	padding-right: 20px;
	color: #666;
	line-height: 25px;
	text-align: right;}
.logofr a{
	color:#666;}
.logofr a:hover{
	color:#007dcd;
	text-decoration:underline;}
